# API
VITE_API_BASE_URL=https://api-stage.wannaeat.com/api/user/

# Stripe
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_XXXXXXXXXXXXXXXX

# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Google OAuth
VITE_GOOGLE_CLIENT_ID=

# Socket
VITE_SOCKET_URL=https://api-stage.wannaeat.com
